<form [formGroup]="jobForm" (ngSubmit)="submitForm()" class="job-form">
  <div class="form-group">
    <label for="jobTitle" class="form-label">Job Title</label>
    <input
      type="text"
      id="jobTitle"
      formControlName="jobTitle"
      class="form-input"
    />
    <div
      *ngIf="
        jobForm.get('jobTitle')?.touched && jobForm.get('jobTitle')?.invalid
      "
      class="error"
    >
      <div *ngIf="jobForm.get('jobTitle')?.hasError('required')">
        Job Title is required.
      </div>
      <div *ngIf="jobForm.get('jobTitle')?.hasError('minlength')">
        Job Title must be at least 3 characters long.
      </div>
      <div *ngIf="jobForm.get('jobTitle')?.hasError('maxlength')">
        Job Title cannot be more than 50 characters long.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="companyName" class="form-label">Company Name</label>
    <input
      type="text"
      id="companyName"
      formControlName="companyName"
      class="form-input"
    />
    <div
      *ngIf="
        jobForm.get('companyName')?.touched &&
        jobForm.get('companyName')?.invalid
      "
      class="error"
    >
      <div *ngIf="jobForm.get('companyName')?.hasError('required')">
        Company Name is required.
      </div>
      <div *ngIf="jobForm.get('companyName')?.hasError('minlength')">
        Company Name must be at least 2 characters long.
      </div>
      <div *ngIf="jobForm.get('companyName')?.hasError('maxlength')">
        Company Name cannot be more than 50 characters long.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="location" class="form-label">Location</label>
    <input
      type="text"
      id="location"
      formControlName="location"
      class="form-input"
    />
    <div
      *ngIf="
        jobForm.get('location')?.touched && jobForm.get('location')?.invalid
      "
      class="error"
    >
      <div *ngIf="jobForm.get('location')?.hasError('required')">
        Location is required.
      </div>
      <div *ngIf="jobForm.get('location')?.hasError('minlength')">
        Location must be at least 2 characters long.
      </div>
      <div *ngIf="jobForm.get('location')?.hasError('maxlength')">
        Location cannot be more than 50 characters long.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="jobType" class="form-label">Job Type</label>
    <select id="jobType" formControlName="jobType" class="form-input">
      <option *ngFor="let type of jobTypes" [value]="type">{{ type }}</option>
    </select>
    <div
      *ngIf="jobForm.get('jobType')?.touched && jobForm.get('jobType')?.invalid"
      class="error"
    >
      <div *ngIf="jobForm.get('jobType')?.hasError('required')">
        Job Type is required.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="jobDescription" class="form-label">Job Description</label>
    <textarea
      id="jobDescription"
      formControlName="jobDescription"
      class="form-input form-textarea"
    ></textarea>
    <div
      *ngIf="
        jobForm.get('jobDescription')?.touched &&
        jobForm.get('jobDescription')?.invalid
      "
      class="error"
    >
      <div *ngIf="jobForm.get('jobDescription')?.hasError('required')">
        Job Description is required.
      </div>
      <div *ngIf="jobForm.get('jobDescription')?.hasError('minlength')">
        Job Description must be at least 10 characters long.
      </div>
      <div *ngIf="jobForm.get('jobDescription')?.hasError('maxlength')">
        Job Description cannot be more than 1000 characters long.
      </div>
    </div>
  </div>

  <div formArrayName="skills" class="form-group skills">
    <label for="skills" class="form-label">Skills</label>
    <div
      *ngFor="let skill of skills.controls; let i = index"
      class="skill-item"
    >
      <input type="text" [formControlName]="i" class="form-input" />
      <button
        type="button"
        (click)="removeSkill(i)"
        class="remove-skill-button"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path fill="white" d="M19 13H5v-2h14v2z" />
          <path fill="none" d="M0 0h24v24H0z" />
        </svg>
      </button>
      <div *ngIf="skill?.touched && skill?.invalid" class="error">
        <div *ngIf="skill?.hasError('required')">Skill is required.</div>
        <div *ngIf="skill?.hasError('minlength')">
          Skill must be at least 2 characters long.
        </div>
        <div *ngIf="skill?.hasError('maxlength')">
          Skill cannot be more than 50 characters long.
        </div>
      </div>
    </div>
    <button type="button" (click)="addSkill()" class="add-skill-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
      >
        <path fill="white" d="M12 5v6h6v2h-6v6h-2v-6H4v-2h6V5z" />
        <path fill="none" d="M0 0h24v24H0z" />
      </svg>
    </button>
  </div>

  <button type="submit" class="form-button add-button">
    {{ jobToEdit ? "Update Job" : "Add Job" }}
  </button>
  <button
    type="button"
    (click)="cancelForm()"
    class="form-button cancel-button"
  >
    Cancel
  </button>
</form>
