.job-list {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media (max-width: 900px) {
  .job-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .job-list {
    grid-template-columns: 1fr;
  }
}
